@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
}

.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #fff;
    border-radius: 20px;
    width: 290px;
    display: flex;
    flex-direction: column;
}

.image img {
    width: 90%;
    margin: 10px 13px;
    border-radius: 10px;
}

.heading {
    padding: 3px 32px;
    text-align: center;
    font-weight: 700;
    font-size: 19px;
}

.topic {
    margin: 17px;
    opacity: 0.5;
    font-size: 13px;
    text-align: center;
    padding: 0px 24px;
    padding-bottom: 10px;
}

@media (max-width:1140px) and (min-width:375px){

}